<!-- each category page -->
{% if page.type %}
<div class="archive">
  <p class="archive_type">{{ page.type }}</p>
  <ul>
    {% for post in site.categories[page.type] %}
    {% if post.url %}
    <li>
        <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
          {{ post.date | date: "%Y-%m-%d" }}
        </time>
        <div class='archive_title'>
          <a href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          </a>
        </div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- main page -->
{% else %}
<div class="archive">
  {% assign sorted_posts = site.posts | sort: 'date' %}
  {% for post in sorted_posts %}
    {% unless post.next %}
      <h3 class="archive_year">{{ post.date | date: '%Y-%m' }}</h3>
      <ul>
    {% else %}
      {% capture year_month %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
      {% capture next_year_month %}{{ post.next.date | date: '%Y-%m' }}{% endcapture %}
      {% if year_month != next_year_month %}
        </ul>
        <h3 class="archive_year">{{ post.date | date: '%Y-%m' }}</h3>
        <ul>
      {% endif %}
    {% endunless %}
    <li>
      <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
        {{ post.date | date: "%Y-%m-%d" }}
      </time>
      <div class='archive_title'>
        <a href='{{ post.url | relative_url }}'>
          {{ post.title | escape }}
        </a>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}